.gridster ul {
    list-style: none;
    background-color: white;    
}
.gridster ul li {
    background-color:yellow;
    margin: 5px;
}

.header {
    background-color:skyblue;
}

.description {
    background-color:yellow;
}

.closeMark {
    float: right;
    background-color:orange;
    cursor: pointer;
}

