<div ng-controller="toDoListController" >
    <div class="row">
        <div class="col-lg-8">
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control"
                        ng-model="description" style="margin:5px">
                    <span class="input-group-btn" style="margin:5px">
                        <button class="btn btn-primary" type="button"  
                            ng-click="addTodoItem()">Add Todo Item</button>
                        <button class="btn btn-secondary" type="button" style="margin:5px"
                            ng-click="deleteAll()">Delete All</button>
                    </span>
                </div>            
            </div>
        </div>
    </div>
    <div class="row">
        <div gridster>
            <ul>
                <li gridster-item row=data.row col=data.column size-x="1" size-y="1"
                        ng-repeat="(id, data) in todoItems"> 
                    <div>
                        <div class="header">
                            <button href="#" class="closeMark" ng-click="deleteTodoItem(data.id)">&times;</button>
                            <div>ID: {{data.id}}</div>
                            <div>{{data.title}}</div>
                        <div>
                        </br>
                        <div class="description" contenteditable="true">{{data.description}}</div>                                
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>